.container{
    background-image: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    min-height: 100vh;
}
.container_wrap{
    display: flex;
    align-items: center;
    padding-top: 5em;

    div{
        width:50%;

        &:first-child{
            margin-left: 10%;
        }

        h2{
            font: normal 3.5em 'Karla', sans-serif;
        }
        p{
            font: normal 1.5em 'Karla', sans-serif;
            margin-top: 1em;
        }
        button{
            font: bold 1.5em 'Karla', sans-serif;
            color: var(--Dark);
            border-radius: 11px;
            background-color: #73D677;
            box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
            margin-top: 1em;
            padding: 17px 36px;
        }
    }

}