.container{
    min-width: 100%;
    background-color: var(--Third);
    box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
    position: fixed;    
}
.container__wrap{
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    div{
        width:100%
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;

        li {
            border-bottom: 2px solid #00000000;
            &:hover{
                border-bottom: 2px solid var(--Dark);
            }
            a{
                font: normal 1.3em 'Karla', sans-serif;
                color: var(--Dark);
            }
        }
    }

}